<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" /> <!-- pedometer 접근 */-->
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />
     <!--  임시 비활성화 <uses-permission android:name="android.permission.BODY_SENSORS" /> -->
    
    <!-- Health Connect, Background 걸음 수 체크용 -->
    <uses-permission android:name="android.permission.health.READ_STEPS" />
    <!-- 디버그에서 write 권한 쓰기 위함 -->
    <uses-permission android:name="android.permission.health.WRITE_STEPS" />


    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:allowBackup="false"
      android:theme="@style/AppTheme"
      android:supportsRtl="true">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity
    android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />

            <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth“ -->
            <data android:host="oauth"
                android:scheme="${KAKAO_SCHEME}" />
        </intent-filter>
      </activity>

      <service
        android:name=".firebase.MyFirebaseMessagingService"
        android:exported="false">
        <intent-filter>
          <action android:name="com.google.firebase.MESSAGING_EVENT" />
        </intent-filter>
      </service>

      <!-- Health Connect 온보딩 진입 지점 (Android 13 이하 APK 버전) -->
      <activity
        android:name=".healthconnect.OnboardingActivity"
        android:exported="true"
        android:permission="com.google.android.apps.healthdata.permission.START_ONBOARDING">
        <intent-filter>
          <action android:name="androidx.health.ACTION_SHOW_ONBOARDING" />
        </intent-filter>
      </activity>

      <!-- Android 14 이상 플랫폼 Health Connect 온보딩 진입 지점 -->
      <activity-alias
        android:name=".healthconnect.UAndAboveOnboardingActivity"
        android:exported="true"
        android:permission="android.permission.health.START_ONBOARDING"
        android:targetActivity=".healthconnect.OnboardingActivity">
        <intent-filter>
          <action android:name="android.health.connect.action.SHOW_ONBOARDING" />
        </intent-filter>
      </activity-alias>
      <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="${GOOGLE_MAPS_API_KEY}" />
    </application>
</manifest>
